<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Employees</h2>
    <a href="/index">Home</a> |
    <a href="/form">Create</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Wage</th>
        </tr>
        </thead>
        <tbody id="employee">
        </tbody>
    </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.onreadystatechange = function () {
            if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200) {
                var jsonResult = JSON.parse(xmlHttpRequest.responseText);
                var contentText = ''
                for (let i = 0; i < jsonResult.length; i++) {
                    const element = jsonResult[i];

                    contentText += `<tr>
                                    <td>${element.id}</td>
                                    <td>${element.name}</td>
                                    <td>${element.wage}</td>
                                     </tr>`
                }
                var listProduct = document.getElementById('employee');
                if (listProduct !== undefined) {
                    listProduct.innerHTML = contentText;
                }
            }
        }
        xmlHttpRequest.open('GET', 'http://localhost:8080/api/v1/employee', false);
        xmlHttpRequest.send();
    })
</script>
</body>
</html>